#heading{
    margin-top: 3%;
    margin-left: 0%;
    margin-bottom: 1%;
    align-content: normal;
}
tr{   
    padding: 10px;
    background-color: #ffffff;
    color: #555454;
    font-size: 18px;
    cursor: pointer;
}
tr:hover {
    background-color: #5b5b5b;
    color: #fff;
}